// @import 'normalize';
@import 'mixins';
@import 'variables';
@import 'slick';
@import 'slider';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    font-family: 1.5rem/1.6 'PT Sans', sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}

.footer-container {
    margin: 0 auto;
    width: 60%;
    padding: 14% 0;
}

// HEADER 
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 40px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @include hover {
        transform: scale(1.1);
    }
}

.menu {
    padding: 0;
    &__item {
        display: inline-block;
        margin-left: 50px;
    }
    &__link {
        color: #FFF;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
        &::before {
            content: '';
            height: 7px;
            width: 7px;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin-right: 14px;
        }
    }
}

.fab {
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 12px;
    margin: 10px;
    @include hover {
        transform: scale(.9);
    }
}
.fa-facebook-f {
    padding: 12px 15px;
}
.fa-instagram {
    padding: 12px 13px;
}

.fas--down {
    color: #fff;
    font-size: 1.4rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px 18px;
    position: absolute;
    top: 85%;
    left: 50%;
}


// MAIN 
section {
    height: 100vh;
    position: relative;
}

.about__us-content {
    margin-top: 20%;    
}

.about-us__title {
    font-family: $title-font;
    color: #fff;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.about-us__subtitle {
    font-family: $subtitle-font;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
}

// PROJECT
.trade__title {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 4.4rem;
    color: $title-color;
    position: relative;
    text-align: center;
    margin: 8% 0 6%;
    &::before {
        content: '';
        width: 120px;
        border-top: 1px solid $title-color;
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.contain-column {
    position: absolute;
    left: 5%;
    top: 0;
    transform: translate(0%, 45%);
}
.contain-column-reverse {
    position: absolute;
    left: 40%;
    top: 0;
    transform: translate(50%, 25%);
}


.project__img {
    width: 100%;
    position: relative;
    margin: auto;
}

.trade__bg {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 510px;
    height: 405px;
    background: $blue;
}

.trade__img {
    width: 550px;
    height: 400px;
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(5%, 15%);
}

.commerce__bg {
    position: absolute;
    right: 0;
    top: 15%;
    transform: translate(0, 20%);
    padding: 0;
    width: 510px;
    height: 405px;
    background: $purple;
}
.commerce__img {
    width: 550px;
    height: 400px;
    position: absolute;
    right: 10% ;
    top: 25%;
    transform: translate(-5%, 35%);
}

.project__decription {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 37%;
    text-align: left;
    margin: 0;
    padding: 10px;
}



.project {
    &__world {
        font-family: $subtitle-font;
        font-size: 2.2rem;
        color: $title-color;
        text-transform: uppercase;
        margin: 0 0 8px;

    }
    &__center {
        font-family: $title-font;
        font-size: 4.4rem;
        color: $title-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        margin: 0;

    }
    &__description {
        font-family: $text-font;
        font-size: 1.8rem;
        color: $subtitle-color;
        line-height: 1.6;
        margin: 30px 0;

    }
    &__location {
        // font-family: 'Open Sans', sans-serif;
        font-family: 'Gotham-BoldItalic', sans-serif;
        font-weight: italic;
        font-size: 1.8rem;
        margin-top: 50px;
        color: $title-color;
        text-decoration: none;
    }
}

.fa-map-marker-alt {
    font-size: 1.8rem;
    margin-right: 15px;
}

// BUTTON 
.btn {
    width: 40%;
    padding: 15px 10px;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $title-color;
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid $title-color;
    text-decoration: none;
    @include hover {
        transform: scale(1.2);
    }
}

// NEWS 
.news-section {
    height: 1035px;
}
.news__title {
    padding-top: 11%;
    text-transform: uppercase;
    font-family: $medium-font;
    font-size: 4.4rem;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 6%;
    &::before {
        content: '';
        width: 120px;
        border-top: 1px solid #fff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.slider__news {
    margin: 0 5px;
}

.news {
    &__img {
        width: 100%;
        height: 223px;
        margin: -11px 0 0 0;
    }
    &__topic {
        text-decoration: none;
        font-family: $title-font;
        font-size: 2.2rem;
        color: $title-color;
        text-transform: uppercase;
        padding: 0 15px;
        margin: 20px 0;
    }
    &__content {
        text-decoration: none;
        font-family: $text-font;
        font-size: 1.8rem;
        color: $subtitle-color;
        max-height: 6rem;
        text-overflow: clip;
        padding: 0 15px;
        margin: 0 0 15px;
    }
}

.autor {
    width: 100%;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin-bottom: 20px;
    position: absolute;
    top: 80%;
    text-decoration: none;
    &__img {
        border-radius: 50%;
        margin: 0;
        width: 60px;
    }
    &__name {
        font-family: $subtitle-font;
        font-size: 1.8rem;
        color: $subtitle-color;
        text-align: left;
        vertical-align: top;
        margin: 5px 0 0 20px;
    }
}

.autor__data {
    background-color: transparent;
    font-family: $subtitle-font;
    font-size: 1.4rem;
    color: $blue;
    text-align: left;
    padding: 0 15px;
    position: absolute;
    top: 88%;
    padding: 0 30%;
    text-decoration: none;
}

// GALLERY 
.gallery__title {
    padding-top: 15%;
    text-transform: uppercase;
    font-family: $medium-font;
    font-size: 4.4rem;
    color: #2c4058;
    text-align: center;
    position: relative;
    &::before {
        content: '';
        width: 120px;
        border-top: 1px solid #2c4058;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.gallety-section {
    background-color: #fff;
    height: 1000px;
}

.grid {
    margin-top: 7%;
    display: grid;
    height: 225px;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "a b c"
    "a d e";
    grid-gap: 7px;
}
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}

.btn-gallery {
    // width: 15%;
    padding: 15px 55px;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $title-color;
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid $title-color;
    text-decoration: none;
    @include hover {
        transform: scale(1.2);
    }
    position: absolute;
    bottom: 16%;
    left: 40%;
}

// MAP 
.map-section {
    // height: 700px;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

// FORM

.form {
    background-color: #fff;
    width: 60%;
    position: absolute;
    bottom: 70%;
    left: 20%;
    &__title {
        padding-top: 4%;
        text-transform: uppercase;
        font-family: $medium-font;
        font-size: 4.4rem;
        color: $title-color;
        text-align: center;
        position: relative;
        &::before {
            content: '';
            width: 120px;
            border-top: 1px solid $title-color;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.form-flex {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 0 55px 50px;
    &__i {
        color: $icon-color;
        font-size: 1.8rem;
        margin-right: 20px;
    }
    &__text {
        font-size: 1.8rem;
        text-decoration: none;
        font-family: $subtitle-font;
        color: $title-color;
        padding-bottom: 35px;
        margin: 0;
    }
}

.form__input {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.form-input {
    margin-top: -3px;
    padding-right: 10px;
    width: 160%;
    font-family: $subtitle-font;
    font-size: 1.8rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #a5aab0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    @include hover {
        border: none;
        border-bottom: 1px solid $subtitle-color;
        color: $subtitle-color;
    }
    &::placeholder {
        color: #a5aab0;
    }
}

// .focus:focus {
//     border-bottom: 1px solid $subtitle-color;
// }

.btn__form {
    width: 60%;
    margin: 10px 0 0 100%;
    padding: 15px 0 30px ;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $title-color;
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    border-radius: 0%;
    border: 1px solid $title-color;
    text-decoration: none;
    @include hover {
        transform: scale(1.2);
        border: 1px solid $title-color;
    }
}


// FOOTER
.footer {
    height: 525px;
    position: relative;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.copyright {
    font-family: $subtitle-font;
    font-size: 1.4rem;
    color: #fff;
    &::after {
        content: "\2223";
        color: #fff;
        padding: 0 20px;
    }
}

.made-with {
    font-family: $subtitle-font;
    font-size: 1.4rem;
    color: #fff;
}

.fa-heart {
    font-size: 1.4rem;
    color: #fff;
}